html{
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
a:hover{
  text-decoration: none;
  color: #0330f8;
}
#particles-js{
  height:520px;
  background-image: url("../images/bluewave.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
nav{
  height:60px;
  overflow: hidden;
  width: 100%;
  background-image: linear-gradient(rgb(2, 119, 252), rgb(10,10,10),rgba(10,10,10),rgba(10, 10, 10, 0.842),transparent);
  color: #ffffff;
  position: fixed;
  right: 0%;
  z-index: 999999;
}
ul{
  list-style: none;
}
h2{
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #0588b4;
}
.sbody{
  margin-left: 0px;
}
section{
  padding-bottom: 150px;
}
.navbar-name{
  display: none;
}

.logo-name{
  position: relative;
  top: -15px;
  display: block;
  margin-left: 100px;
  font-size: 30px;
  float: left;
  padding: 20px;
 
}
.sidenav{
  display: none;
}
.sidenav-menu{
  display: none;
}
.glyphicon-menu-hamburger{
  display: none;
}
.links-list{
  justify-content: center;
  list-style: none;
  font-size: large;
  float: right;
margin-right: 5%;
}
.links-list li{
  float: left;
  padding:20px;
margin-top: -10px;
}
.links-list a{
 color: #ffffff;
 text-decoration: none;
}


/*======================================================= body styling ====================================*/
body{
    /* background-image: url("../images/space-purple.jpg") ;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;*/
    background-color: rgba(1, 1, 3, 0.993); 
}
footer{
  position: absolute;
    height: 400px;
    bottom: 0;
    background-image: linear-gradient(rgba(65, 69, 71, 0.555),rgba(84, 96, 100, 0.733),rgba(85, 97, 107, 0.555));
}


/* =================================================fade in animations================================ */
.animated {
  /* background-image: url(/css/images/logo.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top:95px;
  margin-bottom:60px; */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
     opacity: 0;
     -webkit-transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
} 


/* ====================================================moving arrow====================================== */
 .down-arrow{
   position: relative;
   top: -275px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}
.down-arrow::after{
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  bottom: -400px;
  border-right: 4px solid rgb(71, 65, 65);
  border-bottom: 4px solid rgb(173, 172, 172);
  -webkit-animation: 3s arrow infinite ease;
  -webkit-transform: rotate(45deg);
  transform: 45deg;
  animation: 3s arrow infinite ease;
  z-index: 10;
}
.down-arrow-2{
  position: relative;
  top: -275px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}
.down-arrow-2::after{
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  margin: auto;
  bottom: -385px;
  left: 50.38%;
  border-right: 4px solid rgb(71, 65, 65);
  border-bottom: 4px solid rgb(173, 172, 172);
  -webkit-animation: 3s arrow infinite ease;
  -webkit-transform: rotate(45deg);
  transform: 45deg;
  animation: 3s arrow infinite ease;
  z-index: 10;
}
.circle {
  content: "";
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  left: 1.5%;
  top: 20px;
  border-radius: 50%;
  border: 4px solid rgb(134, 145, 151);
  background-color: rgba(7, 7, 7);
  z-index: 1;
}
.line{
  content: "";
  width: 90%;
  height: 2px;
  position: relative;
  top: -27px;
  /* margin: auto;  this one centers the line*/
  margin-bottom: 10px;
  border-bottom: 4px solid #08f2fa70;
}
#banner-image-of-logo .line{
  margin: auto;
  border-bottom: 4px solid rgb(134, 145, 151);
}
@-webkit-keyframes arrow{
  0%,100%{
    top: 50px;
  }
  50%{
    top: 80px;
  }
}
@keyframes arrow{
  0%,100%{
    top: 50px;
  }
  50%{
    top: 80px;
  }
}
/* ===============================================profile styling========================================== */
.profile{
  margin-top: 100px;
  height: 400px;
}
.profile-img img{
  float: left;
  height: 350px;
  width: 250px;
  margin-left: 200px;
  margin-top: 50px;
  border-color: #f3eaf0;
  border-width: 2px;
}
.bio-discription{
  float: right;
  width: 60%;
  font-size: 22px;
  font-weight: bolder;
  margin-top: 50px;
  color: rgba(35, 61, 73, 0.938);

}
.contact-links{
  font-size: 40px;
  float: left;
  margin-top: 10px;
  margin-left: 20%;
}
.contact-links i{
  margin-left: 20px;
}
.contact-links i{
  color: #0330f8
}
.contact-links i:hover{
  color: #04c1fa;
}


  /* social buttons in profile card */
  .social-icons{
    display: block;
  }

  /*====================================================== category cards list ===============================*/
  .category_list{
    position: relative;
    margin-top: 120px;

  }
.category_list ul{
  list-style: none;
}
.category_list ul li a{
  text-decoration: none;
}
.category_list ul li{
  margin-left: 15%;
  justify-content: center;
  display: inline;
  font-size: 25px; 
}
.category_list ul li a{
  color: #0532fcc4;
}
.category_list ul li a:hover{
  color: #08f2fa;
}
.category_list i{
  position: relative;
  top: -70px;
  left: 8%;
  font-size: 90px;
}
/* #small-screen{
  display: none;
} */

/* ================================================ media quries========================================== */

  @media only screen and (max-width:900px)
{ nav{
     height: 50px;    
  }
  /* #full-screen{
    display: none;
  }
  #small-screen{
    display: block;
  } */
  #banner-image-of-logo .line{
   display: none;
  }
  .navbar-name{
    display: block;
    position: absolute;
    font-size: 20px ;  
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    margin-left: 40%;
    }
   
    .logo-name{
      display: none;
    }
    
  .sidenav-menu , .sidenav{
    display: block;
  }  
  .glyphicon{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
  }  
  .glyphicon-menu-hamburger{
    display: block;
  } 
  #attractive-heading .list-roll h2{
    position: relative;
    top: 00px;
   
  }
  .down-arrow-2,.down-arrow,.circle{
    display: none;
  }
  .position2{           
        height: 240px;
        width: 190px;
        margin-top: 150px;
       }
     
  .profilecard-back h2 {
        margin: 10% auto 25% auto;
        font-size: 20px;
        line-height: 15px;
      }
  .profilecard-front h2{
        margin-top: 100%;
    }  
  .profilecard-back h2 span {
     
        font-size: 12px;
        line-height: 3px;
      
      }
  .profile-img {
    position: relative;
    top: 50px;
  }
  .category_list ul li{
       margin-top: 10%;
       margin-bottom: 10%;
       display: flex;
     } 
     
  .links-list{
      display: none;
    }
    .profile-img img{
     position: relative;
     top: -100px;
     left: -100px;
    }
    .bio-discription{
      position: relative;
      left: -10%;
      top: -20%;
      width: 80%;
      font-size: 18px;
    }  
    .contact-links{
      text-align: center;
      margin-left: 10%;
    }
    .category_list{
      margin-top: 600px;
      margin-left: -20%;
    }
    .category_list li{
      position: relative;
      left: -20%;
    }
    .category_list li span{
      position: relative;
      left: 50%;
      top: -100%;
    }
 }



/*========================================================= style for side menu =================================*/
#side-logo{
  position: absolute;
  float: left;
  color: #fff;
  z-index: 1;
  margin-top: -65px;
  margin-left: -25px;
}


    .sidenav {
      height: 100%;
      width: 0; 
      position: fixed; 
      z-index: 100; 
      top: 0; 
      left: 0;
      background-image: repeating-linear-gradient(black,darkblue,skyblue); 
      overflow-x: hidden; 
      padding-top: 60px; 
      transition: 0.5s; 
    }
    
    /* The navigation menu links */
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #0330f8;
      display: block;
      transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
      color: #f3eaf0;
      font-weight: bolder;    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
      transition: margin-left .5s;
      padding: 20px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }


   /* ========================================= banner ============================== */
#upper-text{
  position: absolute;
  z-index: 100;
  top: 150px;
  left: 10%;
  color: #fff;
}
#upper-text h1{
  font-size: 78px;
  color: #06c1ff;
}
#upper-text h2{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: silver;
}
/* ================================================ attractive headings css========================================= */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);


#attractive-heading .text p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

#attractive-heading .word {
  position: absolute;
  width: 420px;
  top: 133px;
  left: 60%;
  opacity: 0;
}

#attractive-heading .letter {
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

#attractive-heading .letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#attractive-heading .letter.behind {
  transform: rotateX(-90deg);
}

#attractive-heading .letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#attractive-heading .wisteria{
  color: rgb(7, 252, 80);
}
#attractive-heading .belize{
  color: rgb(7, 226, 215);
}
#attractive-heading .pomegranate{
  color: rgb(253, 4, 170);
}


  /* ========================================= who i am ============================== */
#whoiam .line{
  top: 150px;
}
#whoiam h2{
  position: relative;
  top: 60px;
}
    /* ========================================= what i do ============================== */


#whatido .line{
  top: 70px;
}
#whatido p{
  font-size: 20px;
  width: 65%;
  position: relative;
  top: 10px;
  left: 10%;
  color: rgba(255, 255, 255, 0.363);
}
#whatido ul{
  margin-top: 40px;
}
#whatido ul li {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 30%;
  color: rgba(255, 255, 255, 0.363);
}
/* ==================================     project     ===================== */

#prj p{
  font-size: 20px;
  width: 65%;
  position: relative;
  top: 10px;
  left: 10%;
  color: rgba(255, 255, 255, 0.363);
}
#prj-field{
  margin-right: 15%;
}
#prj .project-list h3{
  color: #0330f8;
  margin-left: -10%;
}
#prj .project-list{
  height: 415px;
  width: 50%;
  margin-left: 40%;
  overflow-X:scroll; /*adding scroll bar*/
}

#prj ul{
  margin-top: 40px;
  display: flex;
}
#prj ul li {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 5%;
  color: rgba(255, 255, 255, 0.363);
}
#prj .project{
  position: relative;
  left: 10%;
  top: 40px;
}
#prj .line{
  top: 80px;
}

#prj .project-card{
  width: 220px;
  height: 245px;
  float: left;
  margin-right: 10%;
  background-color: rgba(1, 1, 3, 0.993); 
  margin-top: 10px;  
}
#prj .project-pic{
  height:240px;
  width: 210px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px #0532fcc4;
}
#prj .project-pic img{
  margin-left: 4px;
  margin-top: 2px;
}
#prj  .project-discription{
  position: relative;
  margin-top: 20px;
  width: 210px ;
  font-size: 16px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px #0532fcc4;
  color: rgb(75, 71, 71);
}

/* ==================================     career     ===================== */
#career .line{
  top: 80px;
}
#career p{
  font-size: 20px;
  width: 65%;
  position: relative;
  top: 40px;
  left: 10%;
  color: rgba(255, 255, 255, 0.363);
}
#career ul{
  margin-top: 80px;
}
#career ul li {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20%;  
  color: rgba(255, 255, 255, 0.363);
}
#career ul ul{
  margin-top: 2px;
  margin-left: -20%;
}
#activecareer{
  color: rgba(255, 255, 255, 0.767);
}
.glyphicon-th-list{
  margin-right: 20px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  position: relative;
  bottom:0;
  height: fit-content;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.521);
  background: rgb(39, 39, 39);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 0;  
}
.contact-about h3{
  color: #6982f3;
  font-weight: bold;
}
.contact-about p{
  font-size: 18px;
}
.contact-about p i{
  font-size: 30px;
  position: relative;
  top: 7px;
}
footer .social-links ul li{
  display: inline;
  width: 30%;
  font-size: 30px;
  margin-right: 10%;
}

.social-links i:hover{
  color: #ffffff;
}

footer .quick_links{
  font-size: 16px;
  margin-bottom: 20px;
}
footer .quick_links a{
  color: #ffffffc7;
}
footer .quick_links a:hover{
  color: #03d3f8;
  font-weight: bold;
}
footer .source_code{
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.copyright{
  font-size: 18px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: #6982f3;
  text-align: center;
  justify-content: center;
  padding: 10px;
}
