/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
.navbar-fixed{
   position:fixed;
}

.navcontainer{
  width: 100%;
  height: 400px;
  /* margin-left: 200px */
}
.footer-color{
  background-color: #32333d;
}
.img-one {
   /* filter: opacity(500%); */
   filter: brightness(20%);
 }
 
.top-container{
   min-height: 10px;
   line-height: 0;
 }
 
.articleconatiner{
   margin-left: 20px;
   margin-right: 20px;
 }

.leftcolumn {
  margin-left: 100px;
  float: left;
  width: 70%;
}

.cardarticle{
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

.h5{
   text-size-adjust: 10px;
 }
 p {
   font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
   line-height: 2rem;
   font-size: 18px;
   /* text-size-adjust: 50px; */
 }

 pfooter {
  /* font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif; */
  line-height: 1rem;
  font-size: 16px;
  /* text-size-adjust: 50px; */
}
 
.sidenav-trigger {
   color: #26a69a;
 }
 
.container {
   width: 100% ;
   height: auto;
 }
 
.top-cards {
   padding-top: 0px;
   width: 100% ;
   height: auto;
 }
 .card-mid{
   height: 250px;
 }
 
 .parallax-container {
   padding-top: 70px;
   min-height: 400px;
   line-height: 0;
   width: 100%;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   height: 250px;
   margin: 0;
 }
 
 
 div.a{
   line-height: 2;
   font-size: 16px;
 }
 .profile-row{
   margin-left: 100px;
   

 }
.circle_card{
  
}
.position-1{
  position: relative ;
  float: left;
  margin-top: 100px;
  margin-left: 80%;
  top: 20%;
  left: 10%;
  height: 200px;
  width: 200px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  /* border-radius: 50%; */
  transition: 0.5s;
}
.position-2{
  position: relative ;
  float: left;
  margin-top: 100px;
  margin-left: 80%;
  padding-left: 20px ;
  top: 20%;
  left: 10%;
  height: 200px;
  width: 200px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  /* border-radius: 50%; */
  transition: 0.5s;
}

.position-3{
  position: relative ;
  float: left;
  margin-top: 100px;
  margin-left: 80%;
  padding-left: 20px ;
  top: 20%;
  left: 10%;
  height: 200px;
  width: 200px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  /* border-radius: 50%; */
  transition: 0.5s;
}


.circle_card:hover .circle_card-front {
  transform: rotateX(-180deg);
}
.circle_card:hover .circle_card-back {
  transform: rotateX(0deg);
}

.circle_card-front {
  height: 100%;
  width: 100%;
  /* background-image: url(/images/rathi_ishika.jpg); */
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
  border-radius: 50%;

}
.circle_card-front h2 {
  margin: 20% auto 35% auto;
  /* position: absolute; */
  margin-top: 120%;
  text-align: center;
  font-size: 26px;
  color: whitesmoke ;
}
.circle_card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 2;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  color:#ffffff;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  border-radius: 50%;
}

.circle_card-back h2 {
  margin: 20% auto 35% auto;
  font-size: 26px;
  line-height: 20px;
}
.circle_card-back h2 span {
  font-size: 14px;
  line-height: 6px;

}

.circle_card-back a {
  height: 10px;
  width: 20px;
  padding: 5px 0px;
  border-radius: 2px;
  line-height: 1px;
}
.circle_card-back a:hover {
  color: #000000;
  background-color: #fff;
}
