.content{
    position: relative;
    top: 0px;
    justify-content: center;
    height: 200px;
    font: 60px;
    margin-left: 100px;
    color: rgb(5, 5, 5);
    background-color: rgba(91, 165, 184, 0.685);
}
.logo-pic{
    float: left ;
    background-image: url("..\images/blog.jpg");
}